#code-card {
    background-color: rgb(60, 60, 60);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    p {
        margin: 0;
    }
    #code-header {
        display: flex;
        align-items: center;
        gap: 3px;
        color: lightgrey;
        margin-bottom: 2px;
        i {
            font-size: x-large;
            border-radius: 2px;
        }
        #code-language {
            font-size: small;
        }
    }
    pre {
        padding: 5px 0;
        font-size: small;
    }
    #code-description {
        display: flex;
        // align-items:first;
        color: lightgrey;
        gap: 5px;
        padding: 10px;
        i {
            margin-top: 2px;
        }
        p{
            font-size: small;
            font-style: italic;
        }

    }
}