#code-card {
    background-color: rgb(60, 60, 60);
    padding: 5px;
    border-radius: 5px;
    pre {
        margin: 0;
        font-size: small;
    }
    p {
        margin: 0;
        font-size: small;
        font-style: italic;
        color: lightgrey;
    }
}