<div id="login-card" class ="flex-column slide-in-toleft-hor">
    <h2>Connection</h2>
    <form [formGroup]="loginForm" class="flex-column">
        <div class="input-form flex-column">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username">
        </div>
        <div class="input-form flex-column">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <button class="nc-simple-button" type ="submit" (click)="onSubmitForm()" [disabled]="loginForm.invalid">Log In</button>
    </form>
    <a routerLink="/signup">Ask access</a>
</div>
