<div id="signup-card" class ="flex-column slide-in-hor">
    <h2>Request Access</h2>
    <form [formGroup]="signUpForm" class="flex-column">
        <div class="input-form flex-column">
            <label for="email">Email</label>
            <input 
                [ngClass]="{ 'invalid-input' : emailCtrl.invalid && displayEmailError }" 
                (input)="displayEmailError = true" 
                id="email" 
                type="text" 
                [formControl]="emailCtrl">
            <p *ngIf="emailCtrl.invalid && displayEmailError" class="error-message">Incorrect email format.</p>
        </div>
        <div class="input-form flex-column">
            <label for="username">Username</label>
            <input id="username" type="text" [formControl]="usernameCtrl">
        </div>
        <div class="input-form flex-column">
            <label for="password">Password</label>
            <input 
                [ngClass]="{ 'invalid-input' : passwordCtrl.invalid && displayPasswordError }"
                (input)="displayPasswordError = true"
                id="password" 
                type="password"
                [formControl]="passwordCtrl">
            <p *ngIf="passwordCtrl.invalid && displayPasswordError" class="error-message">
                Pasword must contain at least 8 characters, an uppercase (A-Z), a lowercase (a-z), a number (0-9) and a special character (@$!%*?&_.-).
            </p>
        </div>
        <div class="input-form flex-column">
            <label for="confirm-password">Confirm Password</label>
            <input 
                [ngClass]="{ 'invalid-input' : confirmPasswordCtrl.invalid && displayConfirmPasswordError }" 
                (input)="displayConfirmPasswordError = true" 
                id="confirm-password"
                type="password" 
                [formControl]="confirmPasswordCtrl">
            <p *ngIf="confirmPasswordCtrl.invalid && displayConfirmPasswordError" class="error-message">It's not the same password.</p>
        </div>
        <button class="nc-simple-button" type ="submit" (click)="onSubmitForm()" [disabled]="signUpForm.invalid">Ask access</button>
    </form>
    <a routerLink="/login">Already got account ?</a>
</div>