<div id="signup-card" class ="flex-column">
    <h2>Request Access</h2>
    <form [formGroup]="signUpForm" class="flex-column">
        <div class="input-form flex-column">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username">
        </div>
        <div class="input-form flex-column">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <button class="nc-simple-button" type ="submit" (click)="onSubmitForm()" [disabled]="signUpForm.invalid">Ask access</button>
    </form>
    <a routerLink="/login">Already got account ?</a>
</div>