#signup-card {
    border-radius: 5px;
    box-shadow: lightgrey 4px 10px 20px;
    width: 400px;
    padding: 20px;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-top: 40px;
    margin-bottom: 5px;
    width: 150px;
}

a {
    margin-bottom: 20px;
    font-size: small;
    color: rgb(97, 97, 97);
}

a:hover {
    color: black;
    cursor: pointer;
}

.error-message {
    margin: 0;
    color: red;
    font-size: small;
}

.invalid-input {
    border: solid 1px red;
    border-radius: 3px;
}
.invalid-input:focus {
    outline: solid 2px red;
}