header {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0.7%;
    box-shadow: lightgrey 4px 10px 20px;
    button {
        padding: 5px;
        background-color: rgb(92, 92, 255);
        color: white;
        border: transparent;
        border-radius: 10px;
    }
    button:hover {
        background-color: blue;
        cursor: pointer;
    }
}



