.note-thumbnail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: small;
    animation-duration: 0.5s;
    animation-name: slideIn;
    i {
        margin-right: 5px;
    }
    #left-part {
        display: flex;
        align-items: center;
    }
    #delete-icon {
        animation-duration: 1s;
        animation-name: deleteIconAnimation;
    }
}

.delete-animation {
    animation-duration: 0.5s;
    animation-name: slideOut;
}

.note-thumbnail-active {
    background-color: black;
    color: white;
}

.note-thumbnail:hover {
    background-color: rgba(0, 0, 0, 0.85) !important;
    color: white;
    cursor: pointer;
    #delete-icon {
        color: rgba(255, 255, 255, 0.7);
    }
    #delete-icon:hover {
        color: white;
    }
}


