.note-thumbnail {
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: small;
}

.note-thumbnail:hover {
    background-color: rgb(71, 71, 71);
    color: white;
    cursor: pointer;
}



