.note-thumbnail {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: small;
}

.note-thumbnail:hover {
    background-color: lightgrey;
    cursor: pointer;
}

svg {
    height: 40%;
    width: 10%;
}

