.side-bar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px 0px 5px 5px;
    background-color: white;
    box-shadow: #d3d3d3 4px 10px 20px;
    height: 100%;
    #notes-list {
        overflow: auto;
    }
    #notes-list-header {
        display: flex;
        justify-content: space-between;
        height: 30px;
        margin-bottom: 15px;
        align-items: center;
        #notes-list-header-left-part {
            display: flex;
            align-items: center;
        }
        p {
            font-weight: bold;
        }
        #add-note-btn {
            font-size: xx-large;
        }
        #add-note-btn:hover {
            cursor: pointer;
            background-color: black;
            border-radius: 5px;
            color: white;
        }
    }
}




