.side-bar {
    padding: 5px;
    background-color: white;
    box-shadow: lightgrey 4px 10px 20px;
    height: 100vh;
    width: 250px;
    z-index: 999;
}

.add-note-btn {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 15px;
    align-items: center;
    p {
        font-weight: bold;
    }
    i {
        font-size: xx-large;
    }
    i:hover {
        cursor: pointer;
        background-color: black;
        border-radius: 5px;
        color: white;
    }
}


