.side-bar {
    padding: 5px;
    background-color: white;
    box-shadow: lightgrey 4px 10px 20px;
    height: 100vh;
    width: 250px;
    z-index: 999;
}

.add-note-btn {
    display: flex;
    height: 30px;
    margin-bottom: 15px;
    width: 100%;
    font-size: small;
    box-shadow: lightgrey 4px 10px 20px;
    border-radius: 5px;
    align-items: center;
}

.add-note-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.note-thumbnail-active {
    background-color: black;
    color: white;
}