.note-display {
    width: 100%;
}

.main-card {
    width: 69%;
    float: right;
    background-color: lightgrey;
    height: 500px;
}

.notes-nav-menu {
    width: 200px;
    float: left;
    height: max;
}