.sidebar-content {
    display: flex;
    // margin-top: 60px;
}

.content {
    padding: 15px 5%;
    width: 100%;
}

#version-annotation {
    position: absolute;
    margin-left: 2px;
    margin-top: 50px;
    color: rgb(165, 165, 165);
    font-size: small;
}