#sidebar-content {
    display: flex;
}

#sidebar {
    padding-top: 60px;
    position: fixed;
    // overflow-y: auto;
}

.content-left-margin {
    margin-left: 260px;
}

#content {
    padding: 70px 5%;
    width: 100%;
    overflow-x: hidden;
}

#version-annotation {
    position: absolute;
    margin-top: 40px;
    margin-left: 5px;
    color: rgb(165, 165, 165);
    font-size: small;
    z-index: 1000;
}