#title {
    font-size: 30px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}

#add-item-btn {
    color: black;
}
#add-item-btn:hover {
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.close-icon {
    margin-bottom: 5px;
}
.close-icon:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

#tags-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    #tags-search {
        border: solid 1px transparent;
        border-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
        padding: 3px;
        margin-bottom: 3px;
        #search-bar {
            display: flex;
            align-items: center;
            // box-sizing: border-box;
            input {
                flex: 1;
                border: none;
            }
        }
    }

    .tags-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        align-items: center;
    }
}

#note-description {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
}

#codes-section {
    margin-bottom: 30px;
    #single-code {
        background-color: rgb(60, 60, 60);
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        #code-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3px;
            #code-header-left-part {
                display: flex;
                align-items: center;
                gap: 3px;
                color: lightgrey;
                i {
                    margin-top: 1px;
                    font-size: x-large;
                }
                select {
                    background-color: rgb(60, 60, 60);
                    font-size: small;
                    border-radius: 5px;
                    color: lightgrey;
                    outline: none;
                    #select-header {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
        #code-editing-card {
            padding: 0;
            border-radius: 0.3em;
            background-color: rgb(40, 40, 40);
            i {
                margin-left: calc(100% - 60px);
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 60px;
                background-color: rgb(0, 193, 0);
                color: white;
                border-bottom-right-radius: 5px;
            }
        }
        #code-text {
            background-color: rgb(30, 30, 30);
            color: white;
            min-height: 50px;
            padding: 5px;
        }
        #code-description {
            display: flex;
            padding: 10px;
            gap: 5px;
            background: transparent;
            color: lightgrey;
            margin-bottom: 0;
            i {
                margin-top: 4px;
            }
            app-autoresizeable-textarea {
                width: 100%; 
                border: none;
                background-color: inherit;
                font-size: small;
                color: inherit;
            }
        }
    }
}

#submit-button {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

// textarea {
//     resize: none;
//     overflow: hidden;
//     outline: none;
// }

input {
    outline: none;
}