<div class="form-card slide-in-hor">
    <form [formGroup]="noteForm">
        <input id="title" type="text" placeholder="Write your title..." formControlName="title">
        <div id="tags-section" formArrayName="codetags">
            <div class="section-title">
                Tags 
            </div>
            <div id="tags-search">
                <div id="search-bar">
                    <i class="bx bx-search"></i>
                    <input type="text" placeholder="Search tag..." (input)="onSearchTagTyping($event)">
                </div>
                <div class="tags-flex" id="tags-found" *ngIf="tagsFound">
                    <app-tag [isClickable]="true" [text]="tag" startAnimation="slide-in-ver" *ngFor="let tag of searchedTags" (onClickEvent)="onAddTag(tag)"></app-tag>
                </div>
            </div>
            <!-- ADD CUSTOM TAGS -->
            <!-- <div class="single-tag" [formGroupName]="i" *ngFor="let tagForm of codetags.controls; let i = index">
                        <input type="text" placeholder="Tag" formControlName="name">S
                        <i class="bx bx-x" (click)="onDeleteTag(i)"></i>
            </div>
            <i class="bx bx-plus add-item-btn" (click)="onAddTag()"></i> -->
            <div class="tags-flex">
                <app-tag [isClosable]="true" [text]="tag" startAnimation="slide-in-ver" endAnimation="slide-in-ver-reverse" *ngFor="let tag of codetags.value; let i = index" (onCloseEvent)="onDeleteTag(i)"></app-tag>
            </div>   
        </div>
        <div>
            <div class="section-description">
                Description
            </div>
            <textarea id="note-description" placeholder="Write your note description..." formControlName="description"></textarea>
        </div>
        <div id="codes-section" formArrayName="codes">
            <div class="section-title">
                Code snippets
            </div>
            <div *ngFor="let codeForm of codes.controls; let i = index">
                <div id="single-code" [formGroupName]="i">
                    <i class="bx bx-x" (click)="onDeleteCode(i)"></i>
                    <textarea id="code-text" rows="4" placeholder="Write your code..." formControlName="code"></textarea>
                    <input id="code-description" type="text" placeholder="Write your code description..." formControlName="description">
                    <input id="language" type="text" placeholder="Write your code language..." formControlName="language">
                </div>
            </div>
            <i class="bx bx-plus add-item-btn" (click)="onAddCode()"></i>
        </div>
        <button class="nc-simple-button" type="submit" (click)="onSubmitForm()" [disabled]="noteForm.invalid">Enregistrer</button>
    </form>
</div>
