input {
    background-color: inherit;
}

#title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}

#description-section {
    margin: 10px 0;
}

#add-item-btn {
    color: black;
}
#add-item-btn:hover {
    background-color: black;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

#form-container {
    position: relative;
}

.delete-tag-icon {
    margin-bottom: 5px;
}
.delete-tag-icon:hover {
    color: rgb(150, 150, 150);
    cursor: pointer;
}

.loading-highlight::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    position: absolute;
    box-sizing: border-box;
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    backdrop-filter: blur(5px);
}

.section-title {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

#tags-section {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    #tags-search {
        border: solid 1px transparent;
        border-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
        padding: 3px;
        margin-bottom: 3px;
        #search-bar {
            display: flex;
            align-items: center;
            // box-sizing: border-box;
            input {
                flex: 1;
                border: none;
            }
            i {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .tags-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
        align-items: center;
        #edit-tags-icon {
            color: black;
            cursor: pointer;
        }
        #edit-tags-icon:hover {
            color: rgb(75, 75, 75);
        }
    }
}

#note-description {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: none;
}

#codes-section {
    margin-bottom: 30px;
    #single-code {
        background-color: rgb(60, 60, 60);
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        position: relative;
        #code-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3px;
            #code-header-left-part {
                display: flex;
                align-items: center;
                gap: 3px;
                color: lightgrey;
                i {
                    margin-top: 1px;
                    font-size: x-large;
                }
                select {
                    background-color: rgb(60, 60, 60);
                    font-size: small;
                    border-radius: 5px;
                    color: lightgrey;
                    outline: none;
                    #select-header {
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
            #delete-code-icon {
                cursor: pointer;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 10px;
                right: 10px;
                height: 12px;
                width: 12px;
                font-size: small;
                background-color: rgb(255, 130, 130);
                color: rgb(101, 0, 0);
                border-radius: 50%;
            }
            #delete-code-icon:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(252, 105, 105);
            }
        }

        #code-editing-card {
            padding: 5px;
            border-radius: 0.3em;
            background-color: rgb(40, 40, 40);
            position: relative;
            #code-editor {
                font-family: 'JetBrains Mono', monospace;
            }
            #valid-code-icon {
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 60px;
                background-color: rgb(94, 185, 94, 0.7);
                backdrop-filter: blur(2px);
                color: white;
                border-radius: 5px 0 5px 0;
            }
            #valid-code-icon:hover {
                cursor: pointer;
                background-color: rgb(0, 193, 0, 0.7);
            }
            #spinner {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                color: white;
            }
        }

        #code-text {
            background-color: rgb(30, 30, 30);
            color: white;
            min-height: 50px;
            padding: 5px;
        }
        #code-description {
            display: flex;
            padding: 10px;
            gap: 5px;
            background: transparent;
            color: lightgrey;
            margin-bottom: 0;
            i {
                margin-top: 6px;
            }
            app-autoresizeable-textarea {
                width: 100%;
            }
        }
    }
}

#submit-button {
    position: sticky;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 30%;
    border: solid 1px rgb(126, 126, 126);
    background-color: rgba(0, 0, 0, 0.502);
    backdrop-filter: blur(3px);
}

#submit-button:hover {
    background-color: black;
}

input {
    outline: none;
}