#error-card {
    border-radius: 10px;
    gap: 10px;
    margin: auto;
    height: 50px;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    z-index: 1000;
    i {
        font-size: x-large;
        cursor: pointer;
    }
    #error-content {
        margin: auto;
    }
}

.error-background {
    background-color: rgb(253, 232, 231);
    color: rgb(253, 102, 102);
    border-bottom: solid 5px rgb(253, 102, 102);
}

.success-background {
    background-color: rgb(229, 248, 240);
    color: rgb(50, 176, 136);
    border-bottom: solid 5px rgb(50, 176, 136);
}

.info-background {
    background-color: rgb(233, 234, 254);
    color: rgb(37, 99, 235);
    border-bottom: solid 5px rgb(37, 99, 235);
}