#tag-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    color: white;
    width: 75px;
    background-color: black;
    height: 20px;
    border-radius: 15px;
    padding: 2px;
    border: none;
}