.tag-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    min-width: 30px;
    color: white;
    background-color: black;
    height: 25px;
    border-radius: 8px;
    padding: 0 8px;
    border: none;
    p {
        margin: auto;

    }
    i {
        color: rgba(255, 255, 255, 0.5);
        margin-left: 3px;
    }
    i:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }
}

.tag-container-clickable {
    background-color: rgb(60, 60, 60);
}

.tag-container-clickable:hover {
    cursor: pointer;
    background-color: black;
}