/* You can add global styles to this file, and also import other style files */
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia.css";
@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

//global styles
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

button, input, select, textarea {
    font-family: inherit;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(139, 139, 139);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80);
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.nc-simple-button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0);
    transition: background-color 0.4s;
    color: rgb(255, 255, 255);
}
.nc-simple-button:hover {
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.nc-simple-button:disabled {
    background-color: rgb(222, 222, 222);
    color: rgb(163, 163, 163);
}

.nc-black-button {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: black;
    color: white;
}
.nc-black-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.nc-black-button:disabled {
    border-color: rgb(114, 114, 114);
    background-color: white;
    color: rgb(114, 114, 114);
}




//animations
.stretch-slide-in-toleft-hor {
    animation: stretchSlideInHorizontal 0.25s;
}

.stretch-slide-in-toleft-hor-in-vert-list {
    animation: stretchSlideInHorizontalInVertList 0.5s;
}

.stretch-slide-out-toleft-hor-in-vert-list {
    animation: stretchSlideOutHorizontalInVertList 0.5s;
}

.slide-in-toleft-hor {
    animation: slideInHorizontal 0.25s;
}


.slide-out-toright-in-vert-list {
    animation: slideOutToRightInVertList 0.5s;
}

.slide-in-ver {
    animation: slideInVertical 0.25s;
}

.slide-out-totop {
    animation: slideOutVertical 0.25s;
}

.reduce-size {
    animation: reducingSizeOnDelete 0.25s;
}

.fade-in {
    animation: fadeIn 0.25s ease;
}

.infinite-rotation {
    animation: infiniteRotation 1s ease infinite;
}

@keyframes progressBarAnimation {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

@keyframes stretchSlideInHorizontal {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes stretchSlideInHorizontalInVertList {
    from {
        max-height: 0;
        margin-left: 100%;
        width: 300%;
    }
    to {
        max-height: 100px;
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes stretchSlideOutHorizontalInVertList {
    from {
        margin-left: 0%;
        width: 100%;
    }
    50% {
        margin-left: -100%;
        width: 0%;
    }
    to {
        margin-top: 0;
        margin-bottom: 0;
        height: 0;
        margin-left: -100%;
        width: 0%;
    }
}

@keyframes slideInVertical {
    from {
        translate: 0 -50px;
        opacity: 0;
    }
    to {
        translate: 0;
        opacity: 1;
    }
}

@keyframes slideOutVertical {
    from {
        translate: 0;
        opacity: 1;
    }
    to {
        translate: 0 -50px;
        opacity: 0;
    }
}

@keyframes slideInHorizontal {
    from {
        translate: 125% 0;
    }
    to {
        translate: 0;
    }
}

@keyframes slideOutToRightInVertList {
    from {
        translate: 0;
        max-height: 100vh;
    }
    to {
        translate: 125% 0;
        max-height: 0;
        margin: 0;
    }
}

@keyframes reducingSizeOnDelete {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes infiniteRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
