/* You can add global styles to this file, and also import other style files */
@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism-okaidia.css";
@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

button, input, select {
    font-family: inherit;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(75, 75, 75);
    border-radius: 10px;
  }

.nc-simple-button {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: white;
    color: black;
}
.nc-simple-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.nc-simple-button:disabled {
    border-color: rgb(114, 114, 114);
    background-color: white;
    color: rgb(114, 114, 114);
}

.nc-black-button {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: black;
    color: white;
}
.nc-black-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.nc-black-button:disabled {
    border-color: rgb(114, 114, 114);
    background-color: white;
    color: rgb(114, 114, 114);
}



//animations
.slide-in-hor {
    animation: slideInHorizontal 0.25s;
}

.slide-in-hor-reverse {
    animation: slideInHorizontal 0.25s reverse;
}

.slide-in-ver {
    animation: slideInVertical 0.25s;
}

.slide-in-ver-reverse {
    animation: slideInVertical 0.25s reverse;
}

.reduce-size {
    animation: reducingSizeOnDelete 0.25s;
}

@keyframes slideInHorizontal {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slideOutHorizontal {
    from {
        margin-left: 0%;
        width: 100%;
    }
    to {
        margin-left: -100%;
        width: 0%;
    }
}

@keyframes slideInVertical {
    from {
        translate: 0 -50px;
        opacity: 0;
    }
    to {
        translate: 0;
        opacity: 1;
    }
}

@keyframes reducingSizeOnDelete {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes deleteIconAnimation {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
