textarea {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    resize: none;
    border: none;
    overflow: hidden;
    outline: none;
    background-color: inherit;
    box-sizing: border-box;
}