#autoresizeable-textarea {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    resize: none;
    border: none;
    overflow: hidden;
    outline: none;
    background-color: inherit;
    box-sizing: border-box;
    font-size: 13px;
}