<div 
    id="popup-card" 
    class="slide-in-toleft-hor" 
    [ngClass]="{ 'error-background': type === 'error', 
                'success-background': type === 'success', 
                'info-background': type === 'info' }" 
>
    <div id="popup-header">
        <p>{{ type | titlecase }}</p>
        <i class="bx bx-x" (click)="onClose()"></i>
    </div>
    <div id="error-content">
        <ng-content></ng-content>
    </div>
    <div *ngIf="autoCloseable" id="bar-container">
        <div id="progress-bar" [ngClass]="{
            'error-progress-bar': type === 'error',
            'success-progress-bar': type === 'success',
            'info-progress-bar': type === 'info'
        }"></div>
    </div>
</div>
